<form (ngSubmit)="createBook()" #bookForm="ngForm" class="container mt-4">
    <div class="mb-3 col-4">
        <label for="title" class="form-label">Bogtitel</label>
        <input id="title" type="text" class="form-control" [(ngModel)]="newBook.title" name="title" required />
    </div>
    <div class="mb-3 col-4">
        <label for="author">Forfatter: </label>
        <select class="form-control" id="author" name="authorId" [(ngModel)]="newBook.authorId" required>
            <option *ngFor="let author of authors" [value]="author.id">
                {{ author.firstName }} {{ author.lastName }}
            </option>
        </select>
    </div>
    <div class="mb-3 col-4">
        <label for="publishYear" class="form-label">Udgivelsesår</label>
        <input id="publishYear" type="number" class="form-control" [(ngModel)]="newBook.publishYear" name="publishYear"
            [max]="currentYear" min="1000" step="1" required />
    </div>

    <div class="mb-3 col-4">
        <label for="basePrice" class="form-label">Basispris</label>
        <input id="basePrice" type="number" class="form-control" [(ngModel)]="newBook.basePrice" name="basePrice"
            min="0" step="5" required />
    </div>

    <button type="submit" class="btn btn-primary d-block" [disabled]="bookForm.invalid">
        Opret bog
    </button>

</form>