<main class="toolbar">
    <header>
        <a class="title" routerLink="/">Forlag Semikolon</a><button class="hamburger" (click)="toggleMenu()">☰ </button>
    </header>
    <nav>
        
        <ul [class.show]="menuOpen">
                <div class="searchWrapper">
                    <input type="search" [(ngModel)]="query" (keyup.enter)="searchBooks()" class="searchQuery"
                        placeholder="Søg på titel eller forfatter" />
                    <button (click)="searchBooks()" class="searchButton">Søg</button>
                </div>
                <!-- <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
                </li> -->
                <li><a routerLink="/book" routerLinkActive="active">Forlagets Bøger</a></li>
                <li class="dropdown" *ngIf="authService.isLoggedIn()">
                    <a routerLink="/book" class="dropbtn">Bog Administration</a>
                    <div class="dropdown-content">
                        <a routerLink="/createauthor">Opret Forfatter</a>
                        <a routerLink="/editauthor">Rediger Forfatter</a>
                        <a routerLink="/createartist">Opret Kunstner</a>
                        <a routerLink="/editartist">Redigér Kunstner</a>
                        <a routerLink="/createcover">Opret Bogomslag</a>
                        <a routerLink="/editcover">Redigér Bogomslag</a>
                        <a routerLink="/createbook">Opret Bog</a>
                        <a routerLink="/editbook">Rediger Bog</a>
                    </div>
                </li>
                <li class="dropdown" *ngIf="authService.isLoggedIn()">
                    <a routerLink="/"class="dropbtn">Administration</a>
                    <div class="dropdown-content">
                        <a routerLink="/register">Ny bruger</a>
                    </div>
                </li>
                <li><a (click)="logout()" *ngIf="authService.isLoggedIn()">Logout</a></li>
                <li><a routerLink="/login" *ngIf="!authService.isLoggedIn()" routerLinkActive="active">Admin</a></li>
            </ul>
        </nav>
</main>