<h2 class="section-title">Forlagets udgivelser:</h2>

<div class="book-container">
    <div *ngFor="let book of books" class="card p-3 mb-3">
        <h5>{{ book.title }} ({{ book.publishDate }})</h5>
        <hr>
        <p><b>Forfatter:</b> {{ book.authorFirstName }} {{ book.authorLastName }}</p>
        <p><b>Pris:</b> {{ book.price }} kr</p>
        <div *ngIf="book.designIdeas != null">
        <p><b>Omslagstitel:</b> {{ book.designIdeas }}</p>
        <p><b>Digitalt omslag:</b> {{ book.coverIsDigital ? 'Ja' : 'Nej' }}</p>
        <p><b>Illustratorer:</b>
            <span *ngFor="let artist of book.coverArtists; let last = last">
                {{ artist.firstName }} {{ artist.lastName }}<span *ngIf="!last">, </span>
            </span>
        </p>
        </div>
    </div>

</div>