<main class="page-content">

    <p>Cover modellen ser sådan ud:</p>

    <pre><code>
public int CoverId &#123; get; set; &#125;

public string DesignIdeas &#123; get; set; &#125; = string.Empty;

public bool DigitalOnly &#123; get; set; &#125;

public int BookId &#123; get; set; &#125;

public Book Book &#123; get; set; &#125;

public List&lt;Artist&gt; Artists &#123; get; set; &#125; = new List&lt;Artist&gt;();
</code></pre>

    <p>Et cover skal være tilknyttet en bog. Man kan tilføje flere kunstnere til et cover.</p>

</main>