<form (ngSubmit)="submitCover()" #coverForm="ngForm" class="container mt-4">

    <div class="mb-3">
        <label for="designIdeas" class="form-label">Designidéer/Omslagstitel</label>
        <textarea id="designIdeas" [(ngModel)]="cover.designIdeas" name="designIdeas" class="form-control"
            required></textarea>
    </div>

    <div class="mb-3">
        <label>
            <input type="checkbox" [(ngModel)]="cover.digitalOnly" name="digitalOnly" />
            Kun digitalt?
        </label>
    </div>

    <div class="mb-3">
        <label for="book">Vælg bog</label>
        <select id="book" [(ngModel)]="cover.bookid" name="bookid" class="form-control" required>
            <option [ngValue]="null" disabled>-- Vælg bog --</option>
            <option *ngFor="let book of books" [ngValue]="book.bookId">
                {{ book.title }} ({{ book.publishDate }})
            </option>
        </select>
    </div>

    <div class="mb-3">
        <label for="artistIds">Vælg eksisterende kunstnere</label>
        <select id="artistIds" [(ngModel)]="cover.artistIds" name="artistIds" class="form-control" multiple required>
            <option *ngFor="let artist of artists" [value]="artist.artistId">
                {{ artist.firstName }} {{ artist.lastName }}
            </option>
        </select>
    </div>

    <button class="btn btn-primary mt-3" [disabled]="coverForm.invalid">
        Opret Cover
    </button>
</form>